In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../dataset/sdg_08_20_linear_2_0.csv')

In [13]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,sex,Sex,age,Age class,unit,Unit of measure,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag),LAST UPDATE
0,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2009,NaN,11.9,NaN,NaN,NaN,02/05/24 23:00:00
1,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2010,NaN,11.2,NaN,NaN,NaN,02/05/24 23:00:00
2,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2011,NaN,10.4,NaN,NaN,NaN,02/05/24 23:00:00
3,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2012,NaN,10.1,NaN,NaN,NaN,02/05/24 23:00:00
4,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2013,NaN,10.3,NaN,NaN,NaN,02/05/24 23:00:00

In [14]:
df = df.dropna(subset=['Geopolitical entity (reporting)', 'OBS_VALUE'])

In [15]:
df = df.drop(columns= ['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'freq', 'Time frequency', 'sex','age','Age class','unit','Unit of measure','Time'
                       ,'Observation value',	'OBS_FLAG'	,'Observation status (Flag)'	,'LAST UPDATE'])

In [16]:
df = df.drop(columns= ['Sex', 'geo', 'TIME_PERIOD'])

In [17]:
df = df.rename(columns={'Geopolitical entity (reporting)': 'Country', 'OBS_VALUE': 'NEET_Rate'})

In [18]:
df[['NEET_Rate']] = df[['NEET_Rate']].apply(pd.to_numeric)

In [19]:
df = df.groupby(['Country']).mean().reset_index()

In [20]:
df = df.sort_values(by=['NEET_Rate'], ascending=False)

In [21]:
df = df.drop(labels=[9, 10], axis=0)

In [22]:
df.head()

                   Country  NEET_Rate
25         North Macedonia  30.630556
36                 Türkiye  29.953333
2   Bosnia and Herzegovina  23.677778
30                  Serbia  23.292857
23              Montenegro  23.123333

In [23]:
df.to_csv('../clean_data/barchart_data.csv', index=False)