In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dataset/sdg_08_20_linear_2_0.csv')

In [3]:
df.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,freq,Time frequency,sex,Sex,age,Age class,unit,Unit of measure,geo,Geopolitical entity (reporting),TIME_PERIOD,Time,OBS_VALUE,Observation value,OBS_FLAG,Observation status (Flag),LAST UPDATE
0,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2009,NaN,11.9,NaN,NaN,NaN,02/05/24 23:00:00
1,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2010,NaN,11.2,NaN,NaN,NaN,02/05/24 23:00:00
2,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2011,NaN,10.4,NaN,NaN,NaN,02/05/24 23:00:00
3,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2012,NaN,10.1,NaN,NaN,NaN,02/05/24 23:00:00
4,dataflow,ESTAT:SDG_08_20(1.0),Young people neither in employment nor in educ...,A,Annual,F,Females,Y15-29,From 15 to 29 years,PC_POP,Percentage of total population,AT,Austria,2013,NaN,10.3,NaN,NaN,NaN,02/05/24 23:00:00

In [4]:
df = df[['Geopolitical entity (reporting)','OBS_VALUE']]

In [10]:
df.head()

                  country  NEET_Rate
0                 Austria   9.202222
1                 Belgium  11.933333
2  Bosnia and Herzegovina  23.677778
3                Bulgaria  20.471111
4                 Croatia  17.153333

In [6]:
df = df.rename(columns = {'Geopolitical entity (reporting)':'country','OBS_VALUE':'NEET_Rate'})

In [7]:
df = df.dropna(subset=['country', 'NEET_Rate'])

In [8]:
df = df.groupby('country')['NEET_Rate'].mean().reset_index()

In [9]:
df = df.drop(labels=[9, 10], axis=0)

In [12]:
df['NEET_Rate'] = df['NEET_Rate'].replace(0, pd.NA)

In [13]:
df.to_csv('../clean_data/choropleth_data.csv', index=False)