In [127]:
import pandas as pd

In [130]:
df = pd.read_csv('../dataset/sdg_08_20_linear_2_0.csv')

In [131]:
columns = ["TIME_PERIOD", "OBS_VALUE"]
df = df[columns]

In [132]:
df.rename(columns = {'TIME_PERIOD':'Year', 'OBS_VALUE':'NEET_Rate'}, inplace = True)

In [133]:
df.dropna(subset=['Year', 'NEET_Rate'], inplace=True)

In [134]:
df.reset_index(drop=True, inplace=True)

In [135]:
df['NEET Rate'] = df['NEET_Rate'].astype(int)

In [136]:
df = df.groupby('Year')['NEET_Rate'].mean().reset_index()

In [137]:
df.head()

   Year  NEET_Rate
0  2003  10.600000
1  2004  10.800000
2  2005  10.900000
3  2006  10.933333
4  2007  10.600000

In [138]:
df.to_csv('../clean_data/linechart_data.csv', index=False)