In [3]:
import pandas as pd

In [4]:
# Load the data
df = pd.read_csv('../dataset/sdg_08_20_linear_2_0.csv')

In [5]:
df = df.drop(columns=['STRUCTURE','STRUCTURE_ID','STRUCTURE_NAME','freq',
                      'Time frequency','sex','Age class',
                      'Unit of measure','Geopolitical entity (reporting)',
                      'Time','Observation value','OBS_FLAG','Observation status (Flag)',
                      'LAST UPDATE'])

In [6]:
df = df.drop(columns=['unit'])

In [7]:
df = df.dropna(subset=['TIME_PERIOD', 'OBS_VALUE'])

In [8]:
df = df.rename(columns={'TIME_PERIOD': 'Year', 'OBS_VALUE': 'NEET_Rate', 'geo': 'Country'})

In [9]:
df = df.query('Year>=2015')

In [10]:
df.head()

        Sex     age Country  Year  NEET_Rate
6   Females  Y15-29      AT  2015        9.7
7   Females  Y15-29      AT  2016       10.0
8   Females  Y15-29      AT  2017        9.6
9   Females  Y15-29      AT  2018       10.4
10  Females  Y15-29      AT  2019       10.3

In [39]:
df1 = pd.read_csv('../dataset/gov_10a_exp_page_linear.csv')

In [40]:
df1 = df1[['geo','TIME_PERIOD','OBS_VALUE']]

In [41]:
df1 = df1.rename(columns={'OBS_VALUE': 'Education_Expenditure', 'TIME_PERIOD': 'Year', 'geo': 'Country'})

In [42]:
df1.head()

  Country  Year  Education_Expenditure
0      AT  2013                   51.6
1      AT  2014                   52.4
2      AT  2015                   51.1
3      AT  2016                   50.1
4      AT  2017                   49.3

In [50]:
merge_df = pd.merge(df, df1)

In [1]:
merge_df = merge_df.groupby([ 'Year']).agg({'NEET_Rate': 'mean','Education_Expenditure': 'mean'}).reset_index()

NameError: name 'merge_df' is not defined

In [58]:
merge_df.head()

  Country  Year      Sex  NEET_Rate  Education_Expenditure
0      AT  2015  Females        9.7                   51.1
1      AT  2015    Males        8.4                   51.1
3      AT  2016  Females       10.0                   50.1
4      AT  2016    Males        8.6                   50.1
6      AT  2017  Females        9.6                   49.3

In [54]:
merge_df = merge_df[merge_df['Sex'] != 'Total']

In [62]:
merge_df = merge_df[merge_df['Country'] != 'EA20 ']

In [63]:
merge_df = merge_df[merge_df['Country'] != 'EU27_2020']

In [64]:
merge_df.to_csv('../clean_data/scatterplot_data.csv', index=False)