In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('../dataset/sdg_08_20_linear_2_0.csv')

In [25]:
df = df[['Sex','Geopolitical entity (reporting)','TIME_PERIOD','OBS_VALUE']]

In [26]:
df = df.rename(columns={'TIME_PERIOD': 'Year', 'OBS_VALUE': 'NEET_Rate','Geopolitical entity (reporting)':'Country'})

In [27]:
latest_year = df['Year'].max()

In [28]:
df = df[df['Year'] == latest_year]

In [29]:
df = df.pivot_table(index='Country', columns='Sex', values='NEET_Rate').reset_index()

In [33]:
df = df.drop(labels=[9, 10], axis=0)

In [35]:
df.head()

Sex                 Country  Females  Males  Total
0                   Austria     10.0    8.8    9.4
1                   Belgium      9.5    9.8    9.6
2    Bosnia and Herzegovina     25.9   18.8   22.2
3                  Bulgaria     15.2   12.5   13.8
4                   Croatia     12.7   11.0   11.8

In [36]:
df.to_csv('../clean_data/stacked_bar_chart.csv', index=False)